
body {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {

    color: #02a2ff;
    padding: 20px;
    text-align: left;
}
nav {
    color: #02a2ff;
    padding: 14px 20px;
    text-align: right;

}
nav a {
    color: #02a2ff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    background-color: #02c4ff;
    color: black;
    padding: 5px 10px;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
section {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    color: #02a2ff;
}
footer {
    color: #02a2ff;
    text-align: left;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
button {
    background-color: #02a2ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
button:hover {
    background-color: #02c4ff;
    color: black;
}
img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}
.container {
    text-align: left;
}
.container2 {
    text-align: right;
}
.container3{
    text-align: center;
}